@model BankofSimba.Models.Bank

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
    table {
        border-collapse: collapse;
        width: 600px;
        height: 150px;
    }

    table, th, td {
        border: 3px solid black;
    }
</style>
</head>
<body>
<style>
    body {
        background-image: url("https://a.dilcdn.com/bl/wp-content/uploads/sites/25/2015/08/Screen-Shot-2015-08-07-at-11.28.29-AM.jpg");
        background-size: 100% 100%;
    }
</style>
    <table>
        @{ var index = 0;}
        @foreach (var bankAccount in Model.Accounts)
        {
            <tr>
                <td>@(++index)</td>
                <td><p>@(bankAccount.isGood ? "Good One" : "Bad Guy") </p></td>
                <td><p>@(bankAccount.isKing ? "King" : "") </p></td> 
                <td>
                    @if (bankAccount.isKing)
                    {
                        <p style="color: yellow"> @bankAccount.Name </p>
                    }
                    else
                    {
                        @bankAccount.Name
                    }
                </td>
                <td>@String.Format("{0:0.00}", bankAccount.Balance) @bankAccount.Currency  </td>
                <td>@bankAccount.AnimalType  </td>
            </tr>
        }
    </table>
</body>
</html>

